{% extends "template.html" %}

{% block content %}
<center><h1><span color="blue">Welcome To WTF JudgeOnline</span></h1></center>
<blockquote>
<p>&nbsp;&nbsp;Problem Set is the place where you can find large amount of problems from different programming contests.Online Judge System allows you to test your solution for every problem.</p>
<p>&nbsp;&nbsp;First of all, read carefully <a href="faq.htm" target="_blank">Frequently Asked Questions</a>.<br>&nbsp;&nbsp;Then, choose a <a href="problemlist">problem</a>, solve it and <a href="submit">submit</a> your solution.</p>
<p><b>&nbsp;&nbsp;If you want to publish your problems or setup your own online contest, just <a href="#">write us.</a></b><br></p>
<p><b>Designer &amp; Developer:</b></p>
</blockquote>
{% endblock %}
